@import "style.scss";

.UserForm {
  .main {
    @include container;
    flex-direction: column;
    h1 {
      color: $form-white;
    }
  }

  .form {
    width: 100%;
    max-width: 90%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    background: $form-white;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);

    &_group {
      margin-bottom: 20px;
      width: 100%;
      height: auto;

      &_label {
        font-size: 16px;
        p {
          font-size: smaller;
        }
      }

      &_input[type="text"],
      &_input[type="number"],
      &_input[type="email"] {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border: 2px solid $form-white;
        padding-left: 15px;
        &:focus {
          background-color: $form-input;
        }
        &:valid {
          border: 2px solid $form-color;
        }
      }
    }

    &_btn_submit {
      width: 100%;
      height: 40px;
      color: $form-white;
      background: $form-color;
      margin-top: 20px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:disabled {
        background: $disabled-color;
      }
      &:enabled {
        cursor: pointer !important;
      }
    }
  }
}
