$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$primary-light: #f4f4f4;
$primary-dark: #494949;
$primary-color: #757575;
$disabled-color: #aaa7a7;
$form-color: #666ad1;
$form-white: #f4f4f4;
$form-input: #cdc9ff;
